<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.css" type="text/css" rel="stylesheet">

    <title>Hello world!</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Alex Buddenbaum</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {{!-- <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li> --}}
                    <li class="nav-item">
                        <a class="nav-link" href="/about.html">About</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Portfolio
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <li><a class="dropdown-item" href="/stocklookup.html">Stock Lookup</a></li>
                            <li><a class="dropdown-item" href="/sudoku.html">Sudoku Puzzle and Solver</a></li>
                            <li>
                                {{!-- <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li> --}}
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact.html">Contact</a>
                    </li>
                    {{!-- <li class="nav-item">
                        <a class="nav-link" target="_blank" href="https://github.com/budd713">GitHub</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="https://linkedin.com/in/abuddenbaum">LinkedIn</a>
                    </li> --}}
                </ul>
                <a class="btn btn-primary d-flex" type="button" target="_blank" href="/files/AB_resume.pdf">Download Résumé</a>
                {{!-- <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </form> --}}
            </div>
        </div>
    </nav>
    <div class="container">
        {{{body}}}
    </div>


    {{!--
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script> --}}




    {{!--
    <script src="/./index.js"></script> --}}

    {{!-- using local downloads of JQuery and Bootstrap because their CDN are blocked where I am --}}
    <script src="/js/jquery-3.5.1.js"></script>
    <script src="/js/bootstrap.js"></script>


</body>

</html>