<br>
<h1>About Me</h1>

<p>A little bit about me:</p>
<ul>
    <li>I am a computer science student</li>
    <li>I enjoy mountain hiking</li>
    <li>I speak fluent Mandarin and English</li>
    <li>This is an unordered list</li>
</ul>

<a target="_blank" href="https://github.com/budd713">GitHub</a>
<a target="_blank" href="https://linkedin.com/in/abuddenbaum">LinkedIn</a>