<br>
<h1>Sudoku Board with Solver</h1>

<h4>all about my project!</h4>
<br>
<div>
    <img src="/img/sudokugif.gif" alt="Interactive sudoku solver">
</div>


<p>Read more about my project on <a href="https://github.com/budd713/sudoback">GitHub</a></p>